{% extends "home/index.html" %}
{% load static %}

{% block my_blog_title %}
Homework Create-Update
{% endblock %}

{% block my_blog_header %}
<header class="masthead" style="background-image: url('/static/home/assets/img/post-bg.jpg')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-15 col-lg-16 col-xl-14">
                <div class="site-heading">
                    <h2>Formulario para guardar/editar engregables</h2>
                    <span class="subheading">My blog CoderHouse</span>
                </div>
            </div>
        </div>
        <a class="button_custom" href="{% url 'course:homework-add' %}">Crear nuevo Entregable</a>
    </div>
</header>
{% endblock %}

{% block my_blog_content %}
    <div>
        <form action="" method="POST">
            {% csrf_token %}
            {{ form.media }}
            {{ form.as_p }}
            <input type="submit" class="btn btn-primary" value="Guardar Entregable" />
        </form>
    </div>
    <!-- Divider-->
    <hr class="my-4" />
{% endblock %}