<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>mi plantilla</title>
    <style>
        table {
           border: 1px solid black;
           margin-left:auto;
           margin-right:auto;
        }
    </style>
</head>

<body>
    <h1>Cargando un template con loader de Django</h1>

    <p style="color: red">Mi nombre es: {{ name }} </p>
    <p style="color: green">Mi apellido es: {{ last_name }}</p>

    <hr>
    <ul>
        {% for my_string in my_strings reversed %}
            {% if my_string == "any" %}
                <li style="color:red">{{ my_string }}</li>
            {% else %}
                <li style="color:green">{{ my_string }}</li>
            {% endif %}
        {% endfor %}
    </ul>

    <hr>
    <table>
        <tr>
            <th>Estudiante</th>
            <th>Nota</th>
        </tr>
        {% for student, grade in grades.items %}
            <tr>
                <td>{{ student }}</td>
                {% if grade < 7 %}
                    <td style="color:red;text-align:center">
                        {{ grade }}
                    </td>
                {% else %}
                    <td style="color:green;text-align:center">
                        {{ grade }}
                    </td>
                {% endif %}
            </tr>
        {% endfor %}
    </table>

    <hr>

</body>
</html>